.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.about-me-home-page{
  text-align: left;
  padding-right: 100px;
}

.featured-projects-carousel-home{
  padding-left: 100px;
  padding-right: 100px;
}

.blackTextOverride{
  color: black !important;
}

.carousel-control-next-icon{
  filter: invert(1);
}

.carousel-control-prev-icon{
  filter: invert(1);
}

.carousel-indicators{
  filter: invert(1);
}

.underline_header{
  text-decoration: underline;
}

.resume {
  margin: auto;
  width: 50%;
  padding: 10px;
  align-items: center;
  justify-content: center
}

